:root {
    --is-portrait: 0;
    --app-width: 100vw;
    --inverse-app-width: -100vw;
    --app-height: 100vh;
    --inverse-app-height: -100vh;
    --half-app-height:50vh;
}

@media (orientation: portrait) {
    :root {
        --is-portrait: 1;
    }
}

@media (orientation: landscape) {
    :root {
        --is-portrait: 0;
    }
}